.container{
    background-color: lightgray;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
}

table{
    border: solid black 2px;
    border-collapse: collapse;
    border-radius: 5px;
    margin: 0 auto;
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    padding: 10px;
}

td{
    border-collapse: collapse;
    border: solid black 2px;
    padding: 30px;
}